/* Change background color on hover */
body {
  background-color: #4285f4;
}
.title, .subtitle{
  color:#3C4043;
  /* color:yellow; */
}
.title span{
    border-radius: 5px;
}

.content-design:hover {
    background-color:  rgb(219,68,55);
  }
  .content-led:hover {
    background-color: rgb(244,160,0);
  }
  .content-write:hover {
    background-color: rgb(15,157,88);
  }
.center-text{
  text-align:center;
}